

a:link{
	text-decoration: none;
}

.background{
	background: grey;
}


.bannertext{
	position: relative;
	text-align: center;
	color:black;
}

.bannertextcentered{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bannercenter {
	display: block;
	margin: auto;
	width:100%;
}

.menu {
	background-color: mediumpurple;
	border-color:black;
	border-style: ridge;
	border-radius: 20px;
	border-width: 5px;
	text-align: center;
	display: block;
}
	

	
	
.table {
	border-style: ridge;
	border-width: 10px;
	border-color: lightskyblue;
	width: 100%;
	background-color: mediumpurple;
	}

.sectionstyle {
	border-width: 5px;
	border-color: grey;
	border-style: ridge;
	border-radius: 20px;
	height:100px;
	width:100%;
	display:inline-block;
	}
	
.sectionbody1 {
	
	
	display: inline;
	border-style: ridge;
	border-width:5px;
	border-color:grey;
	margin:auto;
	
	}	

.button {
		background: url("images/button_purple.png");
		height: 60px;
		width:150px;
		text-align: center;
		margin:auto;
		color: black;
		line-height: 60px;
		}		

	div.button:hover {
		background: url("images/button_blue.png");
		
	}
	
	div.button:active {
		background:url("images/button_purple.png");
		 
	}

